@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 160%;
  font-size: 100%;
}

.fullwidth {
  width: 100%;
  padding-top: 4rem;
  /* background-color: #d9d9d9; */
}

.gallery {
  width: 100%;
  max-width: 60rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
}

.gallery .item {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (max-width: 40rem) {
  .gallery .item {
    padding-top: 4rem;
    padding-bottom: 4rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
}

.gallery .item:nth-child(even) {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.gallery .item:nth-child(even) .img-wrap {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

@media (max-width: 40rem) {
  .gallery .item:nth-child(even) .img-wrap {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
}

.gallery .item:nth-child(even) caption {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

@media (max-width: 40rem) {
  .gallery .item:nth-child(even) caption {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
}

.gallery .item .img-wrap {
  position: relative;
  padding: 0.8rem;
  width: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  border-radius: 50%;
}

@media (max-width: 40rem) {
  .gallery .item .img-wrap {
    width: 80%;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
  }
}

.gallery .item .img-wrap:before,
.gallery .item .img-wrap:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.gallery .item .img-wrap:before {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-top: 3px solid #000;
  border-right: 3px solid transparent;
  border-bottom: 3px solid #000;
  border-left: 3px solid transparent;
}

.gallery .item .img-wrap:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 3px solid #dd58d6;
  border-right: 3px solid transparent;
  border-bottom: 3px solid #dd76f1;
  border-left: 3px solid transparent;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.gallery .item .img-wrap img {
  display: block;
  width: 100%;
  height: auto;
  padding: 1.5rem;
  border-radius: 50%;
  background-color: #e6e6e6;
  background-image: radial-gradient(#e6e6e6, #cccccc 80%);
  background-size: 130% 130%;
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 2px 2px 5px #b3b3b3, 2px 2px 15px #e6e6e6,
    inset 15px 15px 50px rgba(0, 0, 0, 0.1);
  box-shadow: inset 2px 2px 5px #b3b3b3, 2px 2px 15px #e6e6e6,
    inset 15px 15px 50px rgba(0, 0, 0, 0.1);
}

.gallery .item:hover .img-wrap:after {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.gallery .item:nth-child(1) .img-wrap,
.gallery .item:nth-child(5) .img-wrap {
  width: 30%;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
}

@media (max-width: 40rem) {
  .gallery .item:nth-child(1) .img-wrap,
  .gallery .item:nth-child(5) .img-wrap {
    width: 60%;
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
  }
}

.gallery .item:nth-child(2) .img-wrap,
.gallery .item:nth-child(4) .img-wrap {
  width: 40%;
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
}

@media (max-width: 40rem) {
  .gallery .item:nth-child(2) .img-wrap,
  .gallery .item:nth-child(4) .img-wrap {
    width: 70%;
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
  }
}

.gallery .item .caption {
  padding-right: 1rem;
  padding-left: 1rem;
  position: relative;
  color: #000;
  font-family: "Montserrat";
  font-weight: bolder;
}

@media (max-width: 40rem) {
  .gallery .item .caption {
    padding-top: 1rem;
  }
}

.gallery .item .caption h3 {
  position: relative;
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
  font-family: "Montserrat";
  font-weight: bolder;
}

.gallery .item .caption a {
  display: inline-block;
  position: relative;
  padding: 0.3rem 1rem;
  color: inherit;
  text-decoration: none;
  color: #000;
  font-family: "Montserrat";
  font-weight: bolder;
  border-radius: 3px;
}

.gallery .item .caption .btn-buy {
  margin-right: 1rem;
  color: #c329e2;
  border: 1px solid #ff04ff;
  letter-spacing: 1px;
}
/*# sourceMappingURL=productos.css.map */

.modal {
  left: 50%;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.modal:target {
  opacity: 1;
  top: 50%;
  visibility: visible;
}
.modal .header,
.modal .footer {
  border-bottom: 1px solid #e7e7e7;
  border-radius: 5px 5px 0 0;
}
.modal .footer {
  border: none;
  border-top: 1px solid #e7e7e7;
  border-radius: 0 0 5px 5px;
}
.modal h2 {
  margin: 0;
  color: #333333;
}
.modal .btn {
  float: right;
}
.modal .copy,
.modal .header,
.modal .footer {
  padding: 5px;
  color: #333333;
}
.modal-content {
  background: #f7f7f7;
  position: relative;
  z-index: 20;
  border-radius: 5px;
  color: #333333;
}
.modal .copy {
  background: #fff;
}
.modal .overlay {
  background-color: #000;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.copy ul li a {
  color: #333333;
  text-decoration: none;
}
/* Responsive Options */
@media screen and (min-width: 768px) {
  .modal {
    width: 600px;
    margin: -250px 0px 0px -18.2%;
    top: -50%;
  }
}
.modalcss-button {
  /* Structure */
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Firefox: Get rid of the inner focus border */
.modalcss-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.modalcss-button {
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: #444; /* rgba not supported (IE 8) */
  color: rgba(0, 0, 0, 0.8); /* rgba supported */
  border: 1px solid #999; /*IE 6/7/8*/
  border: none rgba(0, 0, 0, 0); /*IE9 + everything else*/
  background-color: #e6e6e6;
  text-decoration: none;
  border-radius: 2px;
}

.modalcss-button-hover,
.modalcss-button:hover,
.modalcss-button:focus {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(transparent),
    color-stop(40%, rgba(0, 0, 0, 0.05)),
    to(rgba(0, 0, 0, 0.1))
  );
  background-image: -webkit-linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.05) 40%,
    rgba(0, 0, 0, 0.1)
  );
  background-image: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0.05) 0%,
    rgba(0, 0, 0, 0.1)
  );
  background-image: -o-linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.05) 40%,
    rgba(0, 0, 0, 0.1)
  );
  background-image: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.05) 40%,
    rgba(0, 0, 0, 0.1)
  );
}
.modalcss-button:focus {
  outline: 0;
}
.modalcss-button-active,
.modalcss-button:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset,
    0 0 6px rgba(0, 0, 0, 0.2) inset;
  border-color: #000;
}
.modalcss-button[disabled],
.modalcss-button-disabled,
.modalcss-button-disabled:hover,
.modalcss-button-disabled:focus,
.modalcss-button-disabled:active {
  border: none;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=40);
  -khtml-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
  cursor: not-allowed;
  box-shadow: none;
}

.modalcss-button-hidden {
  display: none;
}

/* Firefox: Get rid of the inner focus border */
.modalcss-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.modalcss-button-primary,
.modalcss-button-selected,
a.modalcss-button-primary,
a.modalcss-button-selected {
  background-color: rgb(0, 120, 231);
  color: #fff;
}
.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}
/* Responsive Video */
.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Close Button */
.box3 {
  width: 25px;
  right: 0px;
  position: absolute;
  margin: 5px;
}
svg {
  display: block;
}
.close-x {
  stroke: black;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 5;
}
