@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
@font-face {
  font-family: "bunch_blossoms_personal_useRg";
  src: url("bunchblossomspersonaluse-0na4-webfont.woff2") format("woff2"),
    url("bunchblossomspersonaluse-0na4-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 20rem;
}
.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-links li {
  list-style: none;
  font-size: 2.5rem;
}
.navbar-links li a {
  font-family: "Montserrat";
  text-decoration: none;
  padding: 1rem;
  display: block;
  color: black;
}
.navbar-links li:hover {
  background-color: #d04e74;
}
.navbar-links li a:hover {
  color: white;
}
.toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 40px;
}
.toggle-button .bar {
  height: 4px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}
.section {
  height: 100vh;
  /* overflow: hidden; */
}
.section1bg {
  width: 100%;
  position: relative;
}
.title {
  position: absolute;
  left: 35%;
  color: white;
  font-size: 7vw;
  z-index: 1;
  font-family: "bunch_blossoms_personal_useRg";
}
.section__2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 150px;
}
.section__3 {
  margin-bottom: 300px;
}
.bio > img {
  width: 100%;
  min-width: 300px;
}
.card {
  width: 300px;
}
.text {
  flex-basis: 35vw;
  font-family: "Montserrat";
  font-weight: bolder;
  line-height: 2rem;
}
.text h2 {
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}
.parrafo2 {
  margin-top: 50px;
}
.sl-c .prevv,
.sl-c .nextt {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.sl-c .prevv:hover,
.sl-c .nextt:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.sl-c .prevv {
  left: 2px;
}

.sl-c .nextt {
  right: 2px;
}

.ejemplos {
  text-align: center;
  font-family: "Montserrat";
  font-weight: bolder;
}

.sl-c {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  margin: auto;
  position: relative;
}

.sl-c .edils {
  display: none;
  width: 100%;
}

.sl-c .edils.edaf {
  animation: edaf 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.sl-c .edils img {
  width: 100%;
}

@media (max-width: 1075px) {
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
    margin-top: 2vh;
  }
  .navbar {
    flex-direction: column;
    margin: 0;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
  .logo {
    align-self: start;
    width: 30%;
    min-width: 220px;
  }
  .section__2 {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .card {
    justify-content: center;
  }
  .bio > img {
    width: 50%;
    min-width: 300px;
  }
  .bio.text {
    margin: 0 10px;
  }
  .section__3 {
    margin-top: 100px;
    margin-bottom: 0px;
  }
  #contact {
    position: relative;
  }
}
#contact {
  width: 100%;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
  /*padding-bottom: 200px;*/
}

.section-header {
  text-align: center;
  margin: 0 auto;
  /* padding: 40px 0; */
  font: 300 60px "Oswald", sans-serif;
  letter-spacing: 6px;
  color: #fff;
}

.contact-wrapper {
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  max-width: 800px;
}

/* Begin Left Contact Page */
.form-horizontal {
  float: left;
  max-width: 400px;
  font-family: "Lato";
  font-weight: 400;
}

.form-control,
textarea {
  max-width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.button {
  width: 400px;
  height: 34px;
  transition: all 0.2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px "Lato", sans-serif;
  letter-spacing: 2px;
}

.button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
  float: right;
  margin-top: 5px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px "Lato", sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27, 27, 27);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px "Oswald", sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255, 255, 255, 0.8);
}

/* Begin Media Queries*/
@media screen and (max-width: 760px) {
  .direct-contact-container,
  .form-horizontal {
    float: none;
    /* margin: 5px auto; */
  }
  .direct-contact-container {
    margin-top: 30px;
    max-width: 300px;
  }
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {
  .direct-contact-container,
  .form-wrapper {
    float: none;
    margin: 0 auto;
  }
  .form-control,
  textarea {
    max-width: 340px;
    margin: 0 auto;
  }

  .name,
  .email,
  textarea {
    width: 280px;
  }

  .direct-contact-container {
    margin-top: 20px;
    max-width: 280px;
  }
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}
